body{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
  background-color: #224B0C;
  margin: 0;
  padding: 0;
  height: 80px;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 3;
}
li{
  display: inline-block;
}
.nav-list-anchors{
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  text-align: center;
  padding: 25px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 25px;
}
.nav-list-anchors:hover{
  background-color: #E6D2AA;
}
#bank-icon{
display: inline-block;
position: relative;
top: 10px;
left: 10px;
color: #319DA0;
}
.first-container{
  height: 600px;
  margin: 0 2px 0 2px  ;
  display: flex;
  background-color: #E6D2AA;
}
.branch-bank-image{
  width: 40%;
  position: absolute;
  right: 5%;
  bottom: 17%;
  z-index: 0
}
.headline-div{
line-height: 0.5;
margin-left: 80px;
margin-top: 15%;
height: 60%
}
.headline{
  font-family: 'Nunito', sans-serif;
  font-size: 70px;
  position: inline-block;
  color: #636B0B;
}
.bank-name{
  position: absolute;
  bottom: 10%;
  right: 50%;
  text-align: center;
  line-height: 0.5;
  font-family: 'Lobster', cursive;
  color: black;
}
.second-container{
background-color: #F3E0B5;
height: 320px;
padding-top: 30px;
padding-left: 40px;
padding-bottom: 90px;
}
.bank-services{
  width: 20%;
  background-color: white;
  float: left;
  object-fit: fill;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 25px;
  margin-left: 25px;
}
.bank-services:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bank-services-images{
  width: 80%;
  border-radius: 2%;
}
#first-bank-service{
  margin-left: 1px;
}
.bank-service-text{
  font-family: 'Bebas Neue', cursive;
  font-weight: 60px;
  font-size: 20px;
  background-color: #F1A661;
}
.third-container{
  background-image: url("../cars.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  filter: blur(2px);
position: relative;
z-index: -1;
background-color: #F1DDBF;
 box-sizing: solid;
}
 .transparent-text{
   position: absolute;
   top: 215%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   width: 40%;
   padding: 20px;
   text-align: center;
   font-weight: bold;
   line-height: 0.5;
   color: #8E0505;
   background-color: #D5D5D5;
}
.carLoan-img{
  width: 20%;
  float: left;
  margin-top: 1%;
}
footer{
  text-align: center;
}
.btn1 {
  background: #16213E;
  background-image: -webkit-linear-gradient(top, #16213E, #2980b9);
  background-image: -moz-linear-gradient(top, #16213E, #2980b9);
  background-image: -ms-linear-gradient(top, #16213E, #2980b9);
  background-image: -o-linear-gradient(top, #16213E, #2980b9);
  background-image: linear-gradient(to bottom, #16213E, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #f7f7f7;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.btn1:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.Download-container{
  text-align: center;
  height: 100px;
  background-color: #F5EDDC;
}
.parent-foot-container{
height: 250px;
text-align: center;
background-color: #9FC9F3;
  position: inline-block;
}
.foot-containers{
  display: inline-block;
  width: 25%;
  padding: 15px;
  text-align: center;
  line-height: 0.8;
  margin-right: 30px;
  height: 130px;
  margin-top: 40px;
background-color: #A460ED;
}
.foot-containers h1{
  font-family: 'Salsa', cursive;
}
.foot-containers p{
  font-family: 'Crafty Girls', cursive;
}
